.navIcon{
  z-index:900;
  left:50%;
  width:8rem;
  height:8rem;
  transform:translate(-4rem,0);
  bottom:1%;
  cursor: pointer;
  position:absolute;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}
.navIcon.on{
  position:absolute;
  z-index:900;
  bottom:50%;
  margin-bottom:-4rem;
  cursor: pointer;
}

.navList.on{
  //display: block;
  opacity: 1;
  .navBgTop{
    position: absolute; left:50%; top:0;
    margin-left: -18.6rem;
    width: 37.2rem;
    height: 48.7rem;
    //width:34.2rem; height: 44.7rem;  margin-left:-16.6rem;
    background: url('/assets/img-main-nav-1.png') no-repeat;
    z-index:-1;
    ul{margin-top: 5.7rem;}
    ul>li{
      font:1.8rem/2.4rem "IBMPlexSans","sans-serif";
      margin: 5rem 0;
      text-align: center;
      a{
        color:#ffffff;
      }
    }
  }
  .navBgBotton{
    position: absolute; left:50%; bottom:0;
    margin-left: -18.6rem;
    width: 37.2rem;
    height: 44.7rem;
    //margin-left:-16.6rem; width:34.2rem; height: 44.7rem;
    background: url('/assets/img-main-nav.png') no-repeat;
    z-index:-1;
    ul{margin-top:20.8rem;}
    ul>li{
      font:1.8rem/2.4rem "IBMPlexSans","sans-serif";
      text-align: center;
      margin: 5rem 0;
      a{
        color:#ffffff;
      }
    }
  }
}
.navList{
  //display: none;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
  opacity: 0;
  .navBgTop{
    position: absolute; left:50%; top:-50%;
    margin-left: -18.6rem;
    width: 37.2rem;
    height: 48.7rem;
    //width:34.2rem; height: 44.7rem;  margin-left:-16.6rem;
    background: url('/assets/img-main-nav-1.png') no-repeat;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    -ms-transition: all 2s ease;
    transition: all 2s ease;
    ul{margin-top: 5.7rem;}
    ul>li{
      font:1.8rem/2.4rem "IBMPlexSans","sans-serif";
      margin: 5rem 0;
      text-align: center;
      a{
        color:#ffffff;
      }
    }
  }
  .navBgBotton{
    position: absolute; left:50%; bottom:-50%;
    margin-left: -18.6rem;
    width: 37.2rem;
    height: 44.7rem;
    //margin-left:-16.6rem; width:34.2rem; height: 44.7rem;
    background: url('/assets/img-main-nav.png') no-repeat;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    -ms-transition: all 2s ease;
    transition: all 2s ease;
    ul{margin-top:20.8rem;}
    ul>li{
      font:1.8rem/2.4rem "IBMPlexSans","sans-serif";
      text-align: center;
      margin: 5rem 0;
      a{
        color:#ffffff;
      }
    }
  }
}


.lang{
  position: relative;
  width:12.6rem; margin:auto; margin-top:7rem;
  span{display: block; color:#ffffff; font:1.8rem/2.4rem "IBMPlexSans","sans-serif";}
  select{
    height:2.9rem;
    width:12.6rem;
    border:0 none;
    background:none;
    color: #ffffff;
    font:1.8rem/2.4rem "IBMPlexSans","sans-serif";
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position:relative;
    option{
      margin-left:0.5rem;
      border:0 none;
      background:none;
    }
  }
  &::after{
    content:"";
    position:absolute;
    right:0;
    bottom:1.05rem;
    width:1.7rem;
    height:0.8rem;
    background:url(/assets/btn-down-languge.svg) no-repeat;
  }
}
