.detailContent{
  width:95.5rem;
  margin:auto;
}
.title{
  position:relative;
  margin-bottom:1rem;
  margin-top:2.7rem;
  font:bold 1.8rem/2.4rem "IBMPlexSans","sans-serif";
  padding-left:2.5rem;
  &::after{
    content:"";
    position:absolute;
    width:0.8rem;
    left:0;
    top:50%;
    margin-top:-0.4rem;
    height:0.8rem;
    background:url(/assets/icon-round.svg) no-repeat 0 0;
  }
}
.img{width:95.5rem; height:26.8rem; margin-top:2.2rem; margin-bottom:2.8rem;}
.imgNone{display:none;}
.text{text-align:justify; margin-bottom:2.2rem; font:bold 1.4rem/1.8rem "IBMPlexSans","sans-serif";}
