.headTitle{position:relative; width:113rem; display: flex; margin:auto; margin-top: 3.7rem; border-bottom:0.2rem solid #000000; justify-content: space-between; margin-bottom:2.4rem;}
.util{
  font:1.4rem/1.4rem "IBMPlexSans","sans-serif";
  vertical-align: bottom;
  line-height: 3.1rem;
  span{
    font-style: italic;
  }
}

.title{position: absolute; left:50%; cursor:pointer; font:2.4rem/2.4rem "IBMPlexSans","sans-serif"; vertical-align: bottom; line-height: 3.1rem; margin-left: -9rem;}
.day{font:1.4rem/1.4rem "IBMPlexSans","sans-serif"; vertical-align: bottom; line-height: 3.1rem;}
.news{position:absolute; font:1.8rem/2.4rem "IBMPlexSans","sans-serif"; vertical-align: bottom; line-height: 3.1rem; bottom: -3.5rem; }
