.searchInput{
  width:40rem;
  height:4rem;
  border:0.1rem solid #000000;
  background: #ffffff;
  box-sizing: border-box;
  input{
    width:38rem;
    height:2.5rem;
    margin-top:0.5rem;
    margin-left:0.5rem;
    border:0 none;
    background:none;
  }
}
