.searchInput{
  width:40rem;
  height:4rem;
  border:0.1rem solid #000000;
  background: #ffffff;
  box-sizing: border-box;
  input{
    width:38rem;
    height:2.5rem;
    margin-top:0.5rem;
    margin-left:0.5rem;
    border:0 none;
    background:none;
  }
}
.searchBtn{
  width:4rem;
  height:4rem;
  padding:0;
  border:0;
  background:none;
    img{
      display: block;
      width:100%; height:100%;
    }
  }
  .search{
    display: flex;
    margin:auto;
    width:44rem;
    margin-top:1.1rem;
    margin-bottom:0.4rem;
  }
