.Navigate{
  height:17rem;
}
.leftBtn{
  position:absolute;
  cursor:pointer;
  left:4rem; top:50%; margin-top:-1.7rem;

}
.RightBtn{
  position:absolute;
  cursor:pointer;
  right:4rem; top:50%; margin-top:-1.7rem;
}
