.wrapper{position:relative; width:95%; margin:auto; margin-bottom:6.2rem;
}
.newsWrapper{
  display: flex; position: relative; width:95%; margin:auto; margin-top:2.7rem;
  margin-bottom:9.2rem;
  a{color:#000000;}
}
